.profile img {
    border-radius: 50%;
    height: 55vh;
    width: 28vw;
    border: 2px solid blue;
    background-size: cover;
    margin-top: -1rem;
    background-position: top;
}


.Dashboard{
    display: flex;
    justify-content: space-around;
    margin: 3rem 5rem;
}

.bmi, .calorie, .heart-rate, .oxygen-value, .steps-taken{
    display: flex;
    padding: 0px 10px;
}

.data{
    /* margin-left: -5rem; */
    display: flex;
    padding-right: 3rem;
}